/**********************************/
/* PALETA DE CORES 
/* #66C845 Verde 
/* #F68B1E Laranja 
/* #333333 Cinza 
/* #FFFFE0 Amarelo claro 

/**********************************/

html {
  background-color: #FFFFE0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #333;
}

/* ===== HEADER ===== */
.header {
  background-color: #5f5b5b;
  border-bottom: 3px solid #66C845;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 20px;
}

.logo-img {
  width: 60px;
  height: 60px;
  border: 2px solid #66C845;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo-container:hover .logo-img {
  transform: scale(1.05);
}

.logo-text {
  opacity: 0;
  color: #66C845;
  font-weight: bold;
  font-size: 20px;
  transition: opacity 0.4s ease;
}

.logo-container:hover .logo-text {
  opacity: 1;
}

/* ===== MENU ===== */
.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu a {
  background-color: #F68B1E; 
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid #333;
  transition: all 0.3s ease;
}


.menu a.active {
  background-color: #F68B1E; 
  color: #fff;
  cursor: pointer;
}


.menu a:hover {
  background-color: #fff;
  color: #F68B1E;
  transform: scale(1.05);
}
/* ===== MENU ===== */

/* ===== CONTEÚDO ===== */
.conteudo {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: justify;
}

.sobre p {
  font-size: 18px;
  line-height: 1.6;
}

/* ===== FOOTER ===== */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5f5a5a; /* cor do seu rodapé */
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

/* ===== RESPONSIVIDADE ===== */
@media (min-width: 992px) {
  .header {
    flex-direction: row;
    justify-content:center;
    text-align: left;
  }

  .logo-container {
    margin-bottom: 0;
  }
}
