/**********************************
  PALETA DE CORES
  #66C845 - Verde 
  #F68B1E - Laranja 
  #333333 - Cinza 
  #FFFFE0 - Amarelo claro
**********************************/


html {
  background-color: #FFFFE0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  color: #333;
}

/* ===== HEADER ===== */
.header {
  background-color: #5f5b5b;
  border-bottom: 3px solid #66C845;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 20px;
}

.logo-img {
  width: 60px;
  height: 60px;
  border: 2px solid #66C845;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo-container:hover .logo-img {
  transform: scale(1.05);
}

.logo-text {
  opacity: 0;
  color: #66C845;
  font-weight: bold;
  font-size: 20px;
  transition: opacity 0.4s ease;
}

.logo-container:hover .logo-text {
  opacity: 1;
}

/* ===== MENU ===== */
.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu a {
  background-color: #F68B1E;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid #333;
  transition: all 0.3s ease;
}

.menu a.active {
  background-color: #F68B1E;
  color: #fff;
  cursor: pointer;
}

.menu a:hover {
  background-color: #fff;
  color: #F68B1E;
  transform: scale(1.05);
}

.btncadastro {
  margin-left: 0;
  padding-left: 0;
}

/* ===== CONTEÚDO ===== */
.conteudo {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: justify;
}


.acoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.acao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
}

.imagem {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.imagem img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}


/* ===== FOOTER ===== */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5f5a5a;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}



/* ===== PÁGINA SOBRE ===== */
.sobre p {
  font-size: 17px;
}


/* ===== CONTATO ===== */

.githubs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;



}

.pessoa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pessoa img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.pessoa img:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pessoa p {
  margin-top: 10px;
  font-size: 15px;
  color: #333;

}

/* ===== AREA DO VOLUNTÁRIO =====*/

.seja-voluntario{
  width: 300px;
  height: 300px;
  padding-top: 100px;
  padding-left: 50px;
  max-width: 100%;
  height: auto;
  
 
}

/* ========== RESPONSIVIDADE ========== */


/* Extra Small */

@media (max-width: 600px) {

  
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .menu a {
    width: 180px;
    text-align: center;
  }

  .conteudo {
    padding: 0 15px;
    text-align: left;
  }

  .acoes {
    flex-direction: column;
    gap: 30px;
  }

  .acao {
    max-width: 100%;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }
}

/* Small devices */

@media (min-width: 600px) {
  .menu ul {
    justify-content: center;
  }
}

/* Medium devices */

@media (min-width: 768px) {
  .acoes {
    gap: 50px;
  }
}

/* Large devices */

@media (min-width: 992px) {

  /* Header lado a lado */

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu ul {
    flex-direction: row;
    gap: 15px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* Extra large devices */

@media (min-width: 1300px) {
  .conteudo {
    max-width: 1100px;
  }

  .acoes {
    gap: 60px;
  }
}